<% provide(:title, 'Links') %>
<h1>
  Links
</h1>

Some great pages:<br /><br />
<div class="links">
<ul>
  <li><%= link_to 'My Personal Site', 'http://www.yujiangtham.com' %></li>
  <li><%= link_to 'Learn Photography', 'http://www.facethelight.com' %></li>
  <li><%= link_to 'Happywalr.us', 'http://www.happywalr.us' %></li>
</ul>
</div>

