<h1>
  Links
</h1>

Some great pages:<br /><br />

<ul>
  <li><%= link_to 'http://www.yujiangtham.com', 'My Personal Site' %></li>
  <li><%= link_to 'http://www.facethelight.com', 'Learn Photography' %></li>
  <li><%= link_to 'http://www.happywalr.us', 'Happywalr.us' %></li>
</ul>

