      <div class="comments">
        <% if @photo.comments.present? %>
          <% @photo.comments.reverse.each do |c| %>
            <%= image_tag show_comments_avatar_thumb(c) %> <%= link_to c.user.name, c.user %> 
            (<%= time_ago_in_words(c.created_at) %> ago): 
            <span class="comment_content"><%= c.content %></span><br />
          <% end %>
        <% end %>
      </div>