<%= form_for @user, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_messages">
      <h3>The following errors were detected:</h3>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <div id="upload_field">
      <%= f.file_field :avatar %>
    </div>
  </p>
  <%= f.submit "Upload Avatar", name: 'avatar_upload', disable_with: "Uploading..." %>
<% end %>
