<% content_for(:title, "Thanks!") %>

<h1>Success!</h1>

<p>
  You're on your way to photo bliss!
</p>
<p>
  You can get started by 
  <%= link_to 'uploading a photo', upload_path %> or 
  <%= link_to 'liking or commenting on someone else\'s photo.', root_url %>
</p>