<% provide(:title, 'Upload Avatar') %>
<h1>
  Upload Avatar
</h1>

<div class="image_upload_guidelines">
  <b>Avatars must conform to these guidelines:</b>
  <ul>
    <li>Must not be of pornographic nature</li>
    <li>Must not contain profanity</li>
    <li>Must be one of these formats: .jpg, .jpeg, .gif, .png</li>
  </ul>
</div>

<%= render 'upload_avatar' %>
