<% if @photo.user != nil %>
  Submitted by 
  <%= link_to @photo.user do %>
    <%= image_tag show_avatar_thumb %> 
    <%= @photo.user.name %>
  <% end %><br />
<% end %>
<span class="caption_text">
  <%= @photo.caption %>
</span>