  <div class="likes">
    <% if current_user %>
      <% if !current_user.likes.find_by_photo_id(@photo.id).blank? %>
        <%= render 'unlike' %>
      <% else %>
        <%= render 'like' %>
      <% end %>
    <% end %>
    <% if @user_likes.present? %>
    <br />Liked by: 
      <% @user_likes.each do |u| %>
        <%= link_to u.name, u %><% if @user_likes.last != u %>,<% end %>
      <% end %>
    <% end %>
  </div>