<% if @photo.user.present? %>
  <div class="submitted_by">
    Submitted by: 
    <%= link_to @photo.user do %>
      <%= image_tag show_avatar_thumb(@photo.user) %> 
      <%= @photo.user.name %>
    <% end %>
    <%= time_ago_in_words(@photo.created_at) %> ago
  </div>
<% end %>