<main>
<h1>
  All Photos
</h1>

<div id="photonav">
  <ul>
    <% @photos.each do |photo| %>
      <li><%= link_to remove_underscores(photo.name), photo %></li>
    <% end %>
  </ul>
</div>

<%= image_tag(add_extension(@photos.first.name)) %>
</main>
