<% @photos.reverse.each do |p| %>
  <span class="<%= dom_id(p) %>">
    <% if p != @photo %>
      <span class="quicknav_image">
        <%= link_to p do %>
          <%= image_tag p.image_url(:quicknav) %> 
        <% end %>
      </span>
    <% else %>
      <span class="grayscale">
        <%= image_tag p.image_url(:quicknav) %>
      </span>
    <% end %>    
    </span>
  </span>
<% end %>