@import "bootstrap";

$darkBackground: #222222;
$borderLine: #004466;
$mainText: #dddddd;
$linkColor: #0099cc;
$linkHoverColor: #ffffff;
$logoText: #999999;
$darkText: #555555;
$arrowBackground: #444444;
$divider: #222222;

$submitted_byText: #999999;
$commentContentText: #bbbbbb;

$commentField: #2A2A2A;
$commentFieldBorder: #393939;

$followButtonText: #eeeeee;
$followButtonColor: #003355;
$followButtonBorder: #005588;
$unfollowButtonText: #cccccc;
$unfollowButtonColor: #333333;
$unfollowButtonBorder: #555555;

$captionBackground: #161616;
$captionBorder: #222222;
$captionMainText: #cccccc;
$captionSubText: #777777;

$formField: #112233;
$formFieldBorder: #223344;
$formFileUpload: #001122;
$formFileUploadBorder: #112233;

$successText: #aaccaa;
$successBorder: #006600;
$successBackground: #002200;
$errorText: #EECCCC;
$errorBorder: #660000;
$errorBackground: #220000;
$errorBackgroundList: #2A0000;

/* universal */

html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 0px;
  height: 100%;
  background-color: #000000;
  color: $mainText;
  font-weight: 200;
  text-align: center;
}

a {
  text-decoration: none;
  color: $linkColor;
  &:hover {
    text-decoration: none;
    color: $linkHoverColor;
  }
}

ul {
  list-style: none;
  li {
    padding: 3px 0;
    margin: 3px 0;
    text-indent: 0px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  font-weight: 100; 
  letter-spacing: -1.5px;
  text-transform: uppercase;
  margin: 5px 0px 10px 0px;
}

h2 {
  font-size: 3em;
  font-weight: 100;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

input[type="text"], input[type="submit"], input[type="password"], textarea {
  color: #ffffff;
  background-color: $formField;
  border: 2px solid;
  border-color: $formFieldBorder;
}

input[type="text"], input[type="password"], textarea {
  width: 350px;
}

textarea {
  height: 100px;
}

.center {
  text-align: center;
}

/* header */

#logo { 
  float: left;
  position: absolute;
  margin-top: 22px;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: -3px;
  line-height: 1;
  color: $logoText;
  a {
    color: $logoText;
  }
  img {
    margin: -30px 0 0 0;
  }
}

header {
  position: relative;
  padding: 0px 50px 0px 70px;
  margin: 0px 0px 20px 0px; 
  height: 70px;
  background: $darkBackground;
  border-bottom: medium solid $borderLine;
  ul {
    list-style: none;
    position: absolute;
    right: 50px;
    bottom: -14px;
    span {
      margin: 0px 3px 0px 3px;
      height: 20px;
      background: $borderLine;
      li {
        display: inline;
        vertical-align: bottom;
        font-size: 1.7em;
        font-weight: 100;
        letter-spacing: -0.5px;
        line-height: 1;
        padding: 0px 15px 0px 15px;
        margin: 0px 5px 0px 5px;
      }
    }
  }
}

nav {
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  height: 10px;
  background-color: #ffccaa;
  border-bottom: medium solid #00aaff;
}

/* footer */

.pushdown, footer {
  height: 70px;
}

footer {
  margin: 0px 0px 0px 0px;
  color: $darkText;
  border-top: medium solid $borderLine;
  background-color: $darkBackground;
  p {
    padding-top: 12px;
  }
}


/* main content */

main {
  display: block;
  margin: 0 0 -70px 0;
  padding: 0px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.submitted_by {
  color: $submitted_byText;
  margin: 5px;
}

#mainSection {
  display: block;
  margin: 0px;
  padding: 0px;
}

.show_all {
  display: inline-block;
  margin: 10px;
  .delete_overlay {
    display: none;
  }
  &:hover .delete_overlay {
    position: absolute;
    display: block;
    background: #440000;
    height: 19px;
    width: 19px;
    opacity: 0.6;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: -29px 0 0 131px;
  }
}

#photonav {
  ul {
    list-style: none;
    li {
      margin: 0px 15px 0px 15px;
      display: inline-block;
    }
  }
}

.fixed {
  position: fixed;
}

.leftfixed { 
  position: fixed;
  left: 0px;
}

.rightfixed {
  position: fixed;
  right: 0px;
}

.leftarrow {
  width: 80px;
  height: 150px;
  font-size: 8em;
  font-weight: 100;
  line-height: 1;
  position: absolute;
  background: $arrowBackground;
  //opacity: 0.5;
  padding-top: 15px;
  margin: 0px 0px 100px 0px;
}

.rightarrow {
  width: 80px;
  height: 150px;
  font-size: 8em;
  font-weight: 100;
  line-height: 1;
  vertical-align: middle;
  position: absolute;
  right: 0px;
  top: 0px;
  background: $arrowBackground;
  //opacity: 0.5;
  padding-top: 15px;
  margin: 0px 0px 100px 0px;
}

/* caption area */

.captionarea { 
  display: inline-block;
  margin: 20px;
  padding: 15px;
  background: $captionBackground;
  border: 2px solid $captionBorder;
  color: $captionSubText;
  hr {
    border: 0;
    margin: 12px auto 8px auto;
    height: 2px;
    width: 40%;
    color: $divider;
    background-color: $divider;
  }
  input[type="text"], input[type="submit"], textarea {
    color: #eeeeee;
    background-color: $commentField;
    border: 2px solid;
    border-color: $commentFieldBorder;
    margin: 0px;
  }
  textarea {
    height: 3em;
    margin: 0px 5px 6px 5px;
    padding: 5px;
  }
}

.caption_text {
  display: inline-block;
  font-size: 1.9em;
  font-weight: 100;
  line-height: 1em;
  margin: 0px 70px 0px 70px;
  color: $captionMainText;
}

.links {
  text-align: left;
  display: inline-block;
}

.comment_content {
  color: $commentContentText;
}

/* user view */

.user_title {
  display: inline-block;
  padding: 10px;
  .user_avatar {
    display: inline-block;
    float: left;
    margin: 10px;
    .control_panel_label {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      padding: 0;
    }
    .control_panel_overlay {
      display: none;
    }
    &:hover .control_panel_overlay {
      position: absolute;
      display: block;
      background: #000000;
      height: 140px;
      width: 140px;
      opacity: 0.75;
      text-align: left;
      font-size: 1.25em;
      line-height: 1.5em;
      padding: 10px;
      margin: -182px 0 0 -2px;
      border: 2px solid;
      border-color: #ffffff;
    }
  }
  .user_info {
    text-align: left;
    float: left;
    padding: 0px;
  }
}

/* follow buttons */

input[type="submit"].follow_button {
  margin: 5px 0px 5px 0px;
  padding: 7px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 1.3em;
  color: $followButtonText;
  background-color: $followButtonColor;
  border-color: $followButtonBorder;
}

input[type="submit"].unfollow_button {
  margin: 5px 0px 5px 0px;
  padding: 7px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 1.3em;
  color: $unfollowButtonText;
  background-color: $unfollowButtonColor;
  border-color: $unfollowButtonBorder;
}

/* quicknav */

.quicknav {
  .quicknav_image {
  margin: 5px;
  }
  .grayscale {
    filter: gray;
    -webkit-filter: grayscale(100%);
  }
}

/* forms */

.form_separated_field {
  display: inline-block;
  align: center;
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-color: $formFileUploadBorder;
  background-color: $formFileUpload;
  hr {
    border: 0;
    margin: 5px auto 12px auto;
    height: 2px;
    width: 40%;
    color: $divider;
    background-color: $divider;
  }
}

/* flash messages */

#success_messages {
  display: block;
  color: $successText;
  border: 1px solid;
  border-color: $successBorder;
  background-color: $successBackground;
}

#error_messages {
  display: block;
  width: 500;
  color: $errorText;
  border: 1px solid;
  border-color: $errorBorder;
  background-color: $errorBackground;
  h3 {
    font-weight: 200;
    color: $errorText;
  }
  ul {
    list-style: none;
    li {
      background-color: $errorBackgroundList;
      margin: 3px 0;
      padding: 3px 0;
    }
  }
}

