@import "bootstrap";

$darkBackground: #222222;
$borderLine: #004466;
$mainText: #dddddd;
$linkColor: #0099cc;
$linkHoverColor: #ffffff;
$logoText: #999999;
$darkText: #555555;
$arrowBackground: #444444;

$successText: #AACCAA;
$successBorder: #006600;
$successBackground: #002200;
$errorText: #CCAAAA;
$errorBorder: #660000;
$errorBackground: #220000;
$errorBackgroundList: #2A0000;

/* universal */

html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 0px;
  background-color: #000000;
  color: $mainText;
  font-weight: 200;
  text-align: center;
}

a {
  text-decoration: none;
  color: $linkColor;
  &:hover {
    text-decoration: none;
    color: $linkHoverColor;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  font-weight: 100; 
  letter-spacing: -1.5px;
  text-transform: uppercase;
  margin: 5px 0px 10px 0px;
}

h2 {
  font-size: 3em;
  font-weight: 100;
  letter-spacing: -1.5px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

/* header */

#logo { 
  float: left;
  position: absolute;
  margin-top: 22px;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: -3px;
  line-height: 1;
  color: $logoText;
  a {
    color: $logoText;
  }
}

header {
  position: relative;
  padding: 0px 50px 0px 70px;
  margin: 0px 0px 20px 0px; 
  height: 70px;
  background: $darkBackground;
  border-bottom: medium solid $borderLine;
  ul {
    list-style: none;
    position: absolute;
    right: 50px;
    bottom: -14px;
    span {
      margin: 0px 3px 0px 3px;
      height: 20px;
      background: $borderLine;
      li {
        display: inline;
        vertical-align: bottom;
        font-size: 1.7em;
        font-weight: 100;
        letter-spacing: -0.5px;
        line-height: 1;
        padding: 0px 15px 0px 15px;
        margin: 0px 5px 0px 5px;
      }
    }
  }
}

nav {
  padding: 40px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  height: 10px;
  background-color: #ffccaa;
  border-bottom: medium solid #00aaff;
}


/* footer */

footer {
  margin: 30px 0px 30px 0px;
  padding: 20px;
  color: $darkText;
  border-top: medium solid $borderLine;
  background-color: $darkBackground;
}


/* main content */

main {
  display: block;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

#photonav {
  ul {
    list-style: none;
    li {
      margin: 0px 15px 0px 15px;
      display: inline-block;
    }
  }
}

.fixed {
  position: fixed;
}

#leftfixed { 
  position: fixed;
  left: 0px;
}

#rightfixed {
  position: fixed;
  right: 0px;
}

#leftarrow {
  width: 80px;
  height: 150px;
  font-size: 8em;
  font-weight: 100;
  line-height: 1;
  position: absolute;
  background: $arrowBackground;
  //opacity: 0.5;
  padding-top: 15px;
  margin: 0px 0px 100px 0px;
}

#rightarrow {
  width: 80px;
  height: 150px;
  font-size: 8em;
  font-weight: 100;
  line-height: 1;
  vertical-align: middle;
  position: absolute;
  right: 0px;
  top: 0px;
  background: $arrowBackground;
  //opacity: 0.5;
  padding-top: 15px;
  margin: 0px 0px 100px 0px;
}

#captionarea { 
  margin: 15px 0px 20px 0px;
}


/* flash messages */

#success_messages {
  display: block;
  color: $successText;
  border: 1px;
  border-color: $successBorder;
  background-color: $successBackground;
}

#error_messages {
  display: block;
  width: 500;
  color: $errorText;
  border: 1px;
  border-color: $errorBorder;
  background-color: $errorBackground;
  h3 {
    font-weight: 200;
    color: $errorText;
  }
  ul {
    list-style: none;
    li {
      background-color: $errorBackgroundList;
    }
  }
}

