<header>
  <div id="logo">
    <%= link_to 'Photo Gallery', root_url %> 
  </div>
  <ul>
    <li><%= link_to 'About', '#' %></li>
    <li><%= link_to 'Links', '#' %></li>
    <li><%= link_to 'Contact', '#' %></li>
  </ul>
</header>

